.search {
    margin-top: 20px;
}

.form-inline {
    justify-content: center;
}

.card__wrapper {
    margin: 50px;
}

.card__body {
    text-align: left;
}

.card__horizontal {
    margin-top: 30px;
}

.card__image {
  margin-left: auto;
}

.card__button {
    margin-top: 10%;
}
