.jumbotron {
    background-image: url(https://www.hometheaterforum.com/community/media/2015-the-martian-film-header-extended-edition-banner.3254/full?d=1464899565);
    text-align: left;
}

.heading {
    margin: 5%;
}
